* {
  margin: 0;
  padding: 0;
}



canvas-old {
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

canvas-half {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas-fixed {
  position: absolute;
  width: 1280px;
  height: 720px;
}